# ===== COMMONS
GITHUB_READONLY_TOKEN=token
LAB_IP=192.168.X.X
BASE_DOMAIN=example.com
TIMEZONE=Europe/Istanbul

# ===== Portainer
PORTAINER_HTTPS_PORT=9443
PORTAINER_EDGE_PORT=8000
PORTAINER_IP=${LAB_IP}:${PORTAINER_HTTPS_PORT}
PORTAINER_DOMAIN=portainer.${BASE_DOMAIN}
PORTAINER_URL=https://${PORTAINER_IP}
PORTAINER_DOMAIN_URL=https://${PORTAINER_DOMAIN}
PORTAINER_API_KEY=key
PORTAINER_ENDPOINT_ID=id
PORTAINER_ICON=https://raw.githubusercontent.com/firatbatar/dashboard-icons/refs/heads/main/svg/portainer.svg

# ===== MC Aggregator
MC_AGGREGATOR_PORT=5000
MC_AGGREGATOR_IP=${LAB_IP}:${MC_AGGREGATOR_PORT}
MC_AGGREGATOR_DOMAIN=mcstatus.${BASE_DOMAIN}
MC_AGGREGATOR_URL=http://${MC_AGGREGATOR_IP}
MC_AGGREGATOR_DOMAIN_URL=https://${MC_AGGREGATOR_DOMAIN}
MC_AGGREGATOR_ICON=https://raw.githubusercontent.com/firatbatar/dashboard-icons/refs/heads/main/svg/minecraft.svg
MC_AGGREGATOR_SERVERS=mc.example.com

# ===== Speedtest Tracker
SPEEDTEST_PORT=8765
SPEEDTEST_IP=${LAB_IP}:${SPEEDTEST_PORT}
SPEEDTEST_DOMAIN=speedtest.${BASE_DOMAIN}
SPEEDTEST_URL=http://${SPEEDTEST_IP}
SPEEDTEST_DOMAIN_URL=https://${SPEEDTEST_DOMAIN}
SPEEDTEST_ICON=https://raw.githubusercontent.com/firatbatar/dashboard-icons/refs/heads/main/png/speedtest-tracker.png
SPEEDTEST_TOKEN=token
SPEEDTEST_APP_KEY=app-key

# ===== Uptime Kuma
UPTIME_KUMA_PORT=3001
UPTIME_KUMA_IP=${LAB_IP}:${UPTIME_KUMA_PORT}
UPTIME_KUMA_DOMAIN=status.${BASE_DOMAIN}
UPTIME_KUMA_URL=http://${UPTIME_KUMA_IP}
UPTIME_KUMA_DOMAIN_URL=https://${UPTIME_KUMA_DOMAIN}
UPTIME_KUMA_ICON=https://raw.githubusercontent.com/firatbatar/dashboard-icons/refs/heads/main/svg/uptime-kuma.svg

# ===== Jellyfin =======
JELLYFIN_PORT=8096
JELLYFIN_UDP_PORT=7359
JELLYFIN_IP=${LAB_IP}:${JELLYFIN_PORT}
JELLYFIN_DOMAIN=jellyfin.${BASE_DOMAIN}
JELLYFIN_URL=http://${JELLYFIN_IP}
JELLYFIN_DOMAIN_URL=https://${JELLYFIN_DOMAIN}
JELLYFIN_ICON=https://raw.githubusercontent.com/firatbatar/dashboard-icons/refs/heads/main/svg/jellyfin.svg
JELLYFIN_API_KEY=key
JELLYFIN_MEDIA_PATH=/path/to/media

# ===== PiHole =========
PIHOLE_PORT=8081
PIHOLE_HTTPS_PORT=8443
PIHOLE_IP=${LAB_IP}:${PIHOLE_PORT}
PIHOLE_DOMAIN=pihole.${BASE_DOMAIN}
PIHOLE_URL=http://${PIHOLE_IP}
PIHOLE_DOMAIN_URL=https://${PIHOLE_DOMAIN}
PIHOLE_PASSWORD=password
PIHOLE_ICON=https://raw.githubusercontent.com/firatbatar/dashboard-icons/refs/heads/main/svg/pi-hole.svg

# ===== Nginx Proxy Manager ==
NGINX_PORT=81
NGINX_IP=${LAB_IP}:${NGINX_PORT}
NGINX_DOMAIN=proxy.${BASE_DOMAIN}
NGINX_URL=http://${NGINX_IP}
NGINX_DOMAIN_URL=https://${NGINX_DOMAIN}
NGINX_ICON=https://raw.githubusercontent.com/firatbatar/dashboard-icons/refs/heads/main/svg/nginx-proxy-manager.svg

# ===== WG-Easy
WG_EASY_PORT=51821
WG_EASY_VPN_PORT=51820
WG_EASY_IP=${LAB_IP}:${WG_EASY_PORT}
WG_EASY_DOMAIN=wireguard.${BASE_DOMAIN}
WG_EASY_VPN_DOMAIN=vpn.${BASE_DOMAIN}
WG_EASY_URL=http://${WG_EASY_IP}
WG_EASY_DOMAIN_URL=https://${WG_EASY_DOMAIN}
WG_EASY_ICON=https://raw.githubusercontent.com/firatbatar/dashboard-icons/refs/heads/main/svg/wireguard.svg
WG_EASY_PASSWORD=password
WG_EASY_PASSWORD_HASH=password_hash

# ===== Glance =========
GLANCE_PORT=8080
GLANCE_SECRET_KEY=key
GLANCE_PASSWORD_HASH=password_hash
