# ===== COMMONS
GITHUB_READONLY_TOKEN=token
LAB_IP=192.168.X.X
BASE_DOMAIN=example.com
TIMEZONE=Europe/Istanbul

# ===== Portainer
PORTAINER_HTTPS_PORT=9443
PORTAINER_EDGE_PORT=8000

# ===== MC Aggregator
MC_AGGREGATOR_PORT=5000
MC_AGGREGATOR_IP=${LAB_IP}:${MC_AGGREGATOR_PORT}
MC_AGGREGATOR_DOMAIN=mcstatus.${BASE_DOMAIN}
MC_AGGREGATOR_URL=http://${MC_AGGREGATOR_IP}
MC_AGGREGATOR_DOMAIN_URL=https://${MC_AGGREGATOR_DOMAIN}
MC_AGGREGATOR_ICON=https://raw.githubusercontent.com/firatbatar/dashboard-icons/refs/heads/main/svg/minecraft.svg
MC_AGGREGATOR_SERVERS=mc.example.com

# ===== Speedtest Tracker
SPEEDTEST_PORT=8765
SPEEDTEST_IP=${LAB_IP}:${SPEEDTEST_PORT}
SPEEDTEST_DOMAIN=speedtest.${BASE_DOMAIN}
SPEEDTEST_URL=http://${SPEEDTEST_IP}
SPEEDTEST_DOMAIN_URL=https://${SPEEDTEST_DOMAIN}
SPEEDTEST_ICON=https://raw.githubusercontent.com/firatbatar/dashboard-icons/refs/heads/main/png/speedtest-tracker.png
SPEEDTEST_TOKEN=token
SPEEDTEST_APP_KEY=app-key

# ===== Uptime Kuma
UPTIME_KUMA_PORT=3001
UPTIME_KUMA_IP=${LAB_IP}:${UPTIME_KUMA_PORT}
UPTIME_KUMA_DOMAIN=status.${BASE_DOMAIN}
UPTIME_KUMA_URL=http://${UPTIME_KUMA_IP}
UPTIME_KUMA_DOMAIN_URL=https://${UPTIME_KUMA_DOMAIN}
UPTIME_KUMA_ICON=https://raw.githubusercontent.com/firatbatar/dashboard-icons/refs/heads/main/svg/uptime-kuma.svg
